package {{ typePackagePath }};

import {{ typePackagePath }}.BooleanArrays;

public class {{ className }} extends Abstract{{ typeName }}List implements RandomAccess, Cloneable, java.io.Serializable {
    public static final int DEFAULT_INITIAL_CAPACITY = 10;
    protected transient boolean a[];
    protected int size;

    private static final boolean[] copyArraySafe(boolean[] a, int length) {
    	if (length == 0) return BooleanArrays.EMPTY_ARRAY;
    	return java.util.Arrays.copyOf(a, length);
    }

    private static final boolean[] copyArrayFromSafe({{ className }} l) {
    	return copyArraySafe(l.a, l.size);
    }
}
